.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
}

input{
    padding: 16px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}


.label{
    font-size: 16px;
    color: gray;
}

span{
    font-size: 14px;
    padding: 3px;
    color: rgb(232, 2, 2);
    display: none;
}

input:invalid[autofocus]{
    border: 1px solid red;
}

input:invalid[autofocus] ~ span{
    display: block;
}